@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?baxokn');
  src:  url('fonts/icomoon.eot?baxokn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?baxokn') format('truetype'),
    url('fonts/icomoon.woff?baxokn') format('woff'),
    url('fonts/icomoon.svg?baxokn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-log-out:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
.icon-x:before {
  content: "\e904";
}
